body{
    background-color: #13121217;
}
.main{
    width:45%;
    margin:auto;
    margin-top:2em;
}
.card{
    width:100%;
    margin-top:2em;
    border:1px solid gray;
    box-shadow: 2px 2px gray;
}
.btn{
    border-radius: 20px;
    font-size: 0.8rem;
}

